body {
    margin: 0px;
    background-color: rgb(173, 139, 103);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.mensaje-bienvenida {
    margin-top: 10em;
    padding: 1em;
    text-align: center;
    margin-bottom: 10em;
}

.btn{ /*Color para el boton de atras */
    font-style: italic;
    border:none;
    background-color: rgb(36, 139, 133);
}

.btn:hover{
    background-color: rgb(46, 180, 171);
}
