
footer {
    background-color: black;
    color: #dde2e7;
    padding: 20px 0;
}


.footer-content {
    text-align: left;
}

@media (max-width: 768px) {
    .footer-content {
        text-align: center;
    }
}
