/* PRACTICA VOLUNTARIA: ENTREGA 2
     ALUMNOS: IVAN PISONERO DIAZ 
              ENRIQUE MARTINEZ SANCHEZ
     GRUPO: 44 */

body { /* cuerpo de la vista principal */
    margin: 0px;
    background-color: rgb(173, 139, 103);
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.titulo_y_busqueda { /* titulo en el centro */
    padding: 3em;
    margin-top: 3em;
    text-align: center;
}

h1 { /* formato de letra para h1 */
    color: black;
    font-style: italic;
    text-align: center;
}

#form_buscar_destino { /* formato del buscador de destinos */
    display: inline-block;
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(198, 174, 154);
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
}

#form_buscar_destino:hover { /* hover del obj anterior*/
    background-color: rgb(221, 198, 180);
}

.form_destino { /* separacion de arriba y abajo del buscador destino */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input {
    margin: 0.5em;
}

div.tarjeta img { /* formato de la imagen de la tarjeta */
    display: block;
    max-height: 15em;
    max-width: 22em;

    height: 10em;
    width: 22em;
    margin-top: 2em;
    margin-bottom: 0.5em;

    margin-left: auto;
    margin-right: auto;

}

.seccion_presentacion { /* formato de quienes somos */
    margin-top: 8em;
    margin-bottom: 4em;
    background-color: rgb(173, 139, 103);
    text-align: center;
}

.texto-secc-presentacion {
    padding: 2em;
}

.modal-header {
    background-color: rgb(40, 154, 146);
}

h3 {
    color: white
}

.modal-body {
    display: flex;
    /* Esto habilita Flexbox */
    flex-direction: column;
    /* Esto alinea los hijos en una columna */
    align-items: center;
    /* Esto centra los elementos horizontalmente */
    justify-content: center;
}

.modal-footer {
    background-color: rgb(173, 139, 103);
}

/* formato BOTONES SE RESERVAR Y DE MAS INFORMACION DE CADA TARJETA */

.btn-reservar {
    background-color: rgb(40, 154, 146);
    font-style: italic;
}

.btn-reservar:hover {
    background-color: rgb(57, 173, 166);
    font-style: italic;
}

.btn-cerrar-reserva {
    color: white;
    background-color: rgb(194, 162, 134);
    font-style: italic;
}

.btn-cerrar-reserva:hover {
    color: white;
    background-color: rgb(98, 72, 51);
}

.btn-reservarTarjeta {
    background-color: rgb(40, 154, 146);
    font-style: italic;
    border: none;
}

.btn-reservarTarjeta:hover {
    background-color: rgb(57, 173, 166);
}

.form-masInfo {
    display: inline;
}

.btn-masInfo {
    margin: 5px;
    background-color: rgb(173, 139, 103);
    border:none;
}
.btn-masInfo:hover{
    background-color: rgb(194, 162, 134);
   
}

.tarjeta-info {
    align-items: center;
    /* Esto asegura la alineación vertical en el centro */
    margin-bottom: 10px;
}

.precio-tarjeta {
    margin-right: 10px;
    margin-left: auto;
    font-weight: lighter;
}


.tarjeta p {
    display: -webkit-box;
    /*  caja flexible Webkit */
    -webkit-line-clamp: 3;
    /* tres líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Oculta el contenido que desborde el contenedor */
}

.card-text {
    display: -webkit-box;
    /*  caja flexible Webkit */
    -webkit-line-clamp: 3;
    /* tres líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    /* margin: 1em;*/
    background-color: rgb(198, 174, 154);
    border-radius: 1em;
}

.card:hover {
    /* margin: 1em;*/
    background-color: rgb(221, 198, 180);
}

.card-footer {
    border-radius: 15px;
    background-color :antiquewhite;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye el espacio de manera uniforme */
    align-items: center; /* Alinea los elementos verticalmente */
  }

  .card-footer .btn {
    flex: 1 0 auto; /* Crece para llenar el ancho */
    margin: 5px; 
  }