body { /*Estilos para el menesaje de error */
    margin: 0px;
    background-color: rgb(173, 139, 103);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.mensaje-error {
    margin-top: 10em;
    padding: 1em;
    text-align: center;
    margin-bottom: 20em;
}

.btn {
   
    background-color: rgb(33, 111, 111);
    border: none;
}

.btn:hover{

    background-color: rgb(47, 156, 156);
}
