/* PRACTICA VOLUNTARIA: ENTREGA 2
     ALUMNOS: IVAN PISONERO DIAZ 
              ENRIQUE MARTINEZ SANCHEZ
     GRUPO: 44 */

body { /* cuerpo de la vista principal */
    margin: 0px;
    background-color: rgb(173, 139, 103);
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.titulo_y_busqueda { /* titulo en el centro */
    padding: 3em;
    margin-top: 3em;
    text-align: center;
}

h1 { /* formato de letra para h1 */
    color: black;
    font-style: italic;
    text-align: center;
}



.input-group{
    justify-content: center;
    padding: 15px;
    border-radius: 1em;
    background-color: rgb(198, 174, 154);
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: auto; 
}

.input-group .custom-select {
    max-width: 500px; /*  select ocupe el ancho que indico*/
    flex: 1; /* select se expanda para ocupar todo el espacio disponible en el .input-group */
    border-radius: 1em;
    margin-right: 5px;
    font-style: italic;
    background-color: rgb(233, 226, 217);
    border: none;
    padding-left: 5px;
}
.input-group .custom-select:hover {
    background-color: rgb(242, 237, 232);
}
.input-group .btn-outline-secondary {
    background-color: rgb(135, 107, 77);
    color: white; /* Color del texto del botón */
    border: none;/* Borde del botón */
    border-radius: 0.5em; /* Radio del borde del botón */
    font-style: italic;
    
  }
  
  .input-group .btn-outline-secondary:hover {
    background-color: rgb(161, 128, 93); /* Color de fondo del botón al pasar el mouse */
    /* Otras propiedades para el estado hover */
  }

div.tarjeta img { /* formato de la imagen de la tarjeta */
    display: block;
    max-height: 15em;
    max-width: 22em;

    height: 10em;
    width: 22em;
    margin-top: 2em;
    margin-bottom: 0.5em;

    margin-left: auto;
    margin-right: auto;

}

.seccion_presentacion { /* formato de quienes somos */
    margin-top: 8em;
    margin-bottom: 4em;
    background-color: rgb(173, 139, 103);
    text-align: center;
}

.texto-secc-presentacion {
    padding: 2em;
}

.modal-header {
    background-color: rgb(40, 154, 146);
}

h3 {
    color: white
}

.modal-body {
    display: flex;
    /* Esto habilita Flexbox */
    flex-direction: column;
    /* Esto alinea los hijos en una columna */
    align-items: center;
    /* Esto centra los elementos horizontalmente */
    justify-content: center;
}

.modal-footer {
    background-color: rgb(173, 139, 103);
}

/* formato BOTONES SE RESERVAR Y DE MAS INFORMACION DE CADA TARJETA */

.btn-reservar {
    background-color: rgb(40, 154, 146);
    font-style: italic;
}

.btn-reservar:hover {
    background-color: rgb(57, 173, 166);
    font-style: italic;
}

.btn-cerrar-reserva {
    color: white;
    background-color: rgb(194, 162, 134);
    font-style: italic;
}

.btn-cerrar-reserva:hover {
    color: white;
    background-color: rgb(98, 72, 51);
}

.btn-reservarTarjeta {
    background-color: rgb(40, 154, 146);
    font-style: italic;
    border: none;
}

.btn-reservarTarjeta:hover {
    background-color: rgb(57, 173, 166);
}

.form-masInfo {
    display: inline;
}

.btn-masInfo {
    margin: 5px;
    background-color: rgb(173, 139, 103);
    border:none;
}
.btn-masInfo:hover{
    background-color: rgb(194, 162, 134);
   
}

.tarjeta-info {
    align-items: center;
    /* Esto asegura la alineación vertical en el centro */
    margin-bottom: 10px;
}

.precio-tarjeta {
    margin-right: 10px;
    margin-left: auto;
    font-weight: lighter;
}


.tarjeta p {
    display: -webkit-box;
    /*  caja flexible Webkit */
    -webkit-line-clamp: 3;
    /* tres líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Oculta el contenido que desborde el contenedor */
}

.card-text {
    display: -webkit-box;
    /*  caja flexible Webkit */
    -webkit-line-clamp: 3;
    /* tres líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    /* margin: 1em;*/
    background-color: rgb(198, 174, 154);
    border-radius: 1em;
}

.card:hover {
    /* margin: 1em;*/
    background-color: rgb(221, 198, 180);
}

.card-footer {
    border-radius: 15px;
    background-color :antiquewhite;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye el espacio de manera uniforme */
    align-items: center; /* Alinea los elementos verticalmente */
  }

  .card-footer .btn {
    flex: 1 0 auto; /* Crece para llenar el ancho */
    margin: 5px; 
  }

  #botonBuscar {

    background-color :rgb(120, 87, 56);
    border:none;
  }

  #botonBuscar:hover{

    background-color :rgb(159, 120, 83);
   
  }

  