body {
    margin: 0px;
    background-color: rgb(173, 139, 103);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.mensaje-error {
    margin-top: 10em;
    padding: 1em;
    text-align: center;
    margin-bottom: 20em;
}
