<!-- Modal de reserva -->
<div class="modal" id="reserva">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h3> Reservar Viaje a <%= destino.nombre %>
                </h3>
            </div>

            <div class="modal-body">
                <form action="/reservar" method="post">
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label"><strong>Nombre del
                                viajero:</strong></label>
                        <input type="text" class="form-control" id="nombreCliente" name="nombreCliente"
                            pattern="[A-Za-zÀ-ÿ\s]+"
                            title="Números o caracteres especiales no válidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="correoElectronico" class="form-label"><strong>Correo
                                electrónico:</strong></label>
                        <input type="email" class="form-control" id="correoElectronico"
                            name="correoElectronico" required>
                    </div>
                    <div class="mb-3">
                        <label for="fechaReserva" class="form-label"><strong>Fecha de
                                reserva:</strong></label>
                        <input type="date" class="form-control" id="fechaReserva" name="fechaReserva"
                            required>
                    </div>
                    <div class="d-grid gap-2">
                        <input class="btn btn-secondary btn-lg btn-reservarTarjeta" type="submit"
                            value="Reservar">
                    </div>
                    <input type="hidden" name="destinoId" value="<%= destino.id %>" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cerrar-reserva"
                    data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>