<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Viajes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styleNavbar.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
    <link rel="stylesheet" href="/styles/styleSesionCerrada.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <%- include('partials/navbar') %> <!-- Barra de navegacion -->

    <div class="container-fluid mensaje-sesion-cerrada">
        <h2>Su sesión ha sido cerrada correctamente</h2>
        
        <form action="/#" method="get">
            <button class="btn btn-primary" type="submit"> Volver a inicio </button>
        </form>
    </div>
    <!-- Incluimos el footer -->
    <%- include('partials/footer.ejs') %>
</body>