 <!-- Footer comun a las vistas de la APLICACION WEB -->
<footer>
    <p> Para cualquier pregunta o sugerencia, no dudes en contactarnos:</p>
    <p> Email: -------------</p>
    <p> Telefono: -------------</p>
</footer>
