<nav class="navbar navbar-expand-sm navbar-light bg-light estiloMivar">
    <!-- Contenedor para asegurar un padding adecuado  -->
    <div class="container-fluid">

        <!-- Botón que aparece en modo móvil para expandir/cerrar el menú -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido de la Navbar, que se colapsará en el botón en modo móvil -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Lista de enlaces de navegación -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Elementos de la lista -->
                <li class="nav-item">
                    <form action ="/#seccion_presentacion" method="get" >
                        <button type="submit" class="nav-link fs-5">Quiénes somos</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action ="/#" method="get" >
                        <button type="submit" class="nav-link fs-5">Inicio</button>
                    </form>
                </li>
            </ul>
        </div>

        <a class="navbar-brand" href="#">
            <img src="../images/logoViajes.png" alt="Logo" width="30" height="24">
        </a>
    </div>

</nav>